---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == blank %}{{ site.title }}{% else %}{{ site.first_name }} {{ site.middle_name }}  {{ site.last_name }}{% endif %}
    </h1>
    <h6>{{ page.description }}</h6>
  </header>
  <br>
  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <div class="profile-image-container">
          <img class="img-fluid z-depth-1 rounded profile-image" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
          {% if page.profile.image_hover %}
            <img class="img-fluid z-depth-1 rounded profile-image-hover" src="{{ page.profile.image_hover | prepend: '/assets/img/' | relative_url }}">
          {% endif %}
        </div>
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}


    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    <!-- {% if page.publications %}
      {% include publications.html %}
    {% endif %} -->

    {% if page.social %}
    <div class="social">
      {% include social.html %}
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}

  </article>

</div>
